@model IEnumerable<DespesasModel>

<div class="container">
    <div class="d-flex justify-content-between align-items mb-5">
        <h1>Lista de despesas</h1>
        <a class="btn btn-success mx-2" asp-controller="Despesa" asp-action="Cadastrar">Cadastrar nova despesa</a>
    </div>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Categoria</th>
            <th scope="col">Descricao</th>
            <th scope="col">Valor da Parcela</th>
            <th scope="col">Status do mês</th>
            <th scope="col">Forma de Pagamento</th>
            <th scope="col">Quantidade de Parcelas Pagas</th>
            <th scope="col">Quantiade de Parcelas Faltantes</th>
            <th scope="col">Quantidade Total de Parcelas</th>
            <th scope="col">Valor Total A Pagar</th>
            <th scope="col">Valor Total Pago</th>
            <th scope="col">Ultima Atualização</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null)
        {
            @foreach(var despesa in Model)
            {
                <tr>
                    <th scope="row">@despesa.Categoria</th>
                    <td>@despesa.Descricao</td>
                    <td>@despesa.ValorDaParcela</td>
                    <td>@despesa.StatusDoMes</td>
                    <td>@despesa.FormaDePagamento</td>
                    <td>@despesa.QuantidadeParcelasPagas</td>
                    <td>@despesa.QuantiadeDeParcelasFaltantes</td>
                    <td>@despesa.QuantidadeTotalDeParcelas</td>
                    <td>@despesa.ValorTotalAPagar</td>
                    <td>@despesa.ValorTotalPago</td>
                    <td>@despesa.DataUltimaAtualizacao</td>
                    <td>
                        <a asp-controller="Despesa" asp-action="Editar" asp-route-id="@despesa.Id" class="btn btn-warning">Editar</a>
                    </td>
                    <td>
                        <a asp-controller="Despesa" asp-action="Excluir" asp-route-id="@despesa.Id" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
</div>